services:
  api:
    build: .
    container_name: my_library_api
    volumes:
      - ./:/usr/workspace
    ports:
      - "8000:8000"
    environment:
      - API_ENV=docker
    networks:
      - library-network
    command: >
      sh -c "uvicorn main:app --host 0.0.0.0 --port 8000"

  tests:
    build: .
    container_name: my_library_tests
    depends_on:
      - api
    environment:
      - API_HOST=http://api:8000
    volumes:
      - ./:/usr/workspace
      - allure-results:/usr/workspace/tests/allure-results
      - allure-history:/usr/workspace/tests/allure-results/history
    working_dir: /usr/workspace
    command: >
      sh -c "pytest -sv --alluredir=tests/allure-results"
    networks:
      - library-network

  report:
    build: .
    container_name: my_library_report
    volumes:
      - ./:/usr/workspace
      - allure-results:/usr/workspace/tests/allure-results
      - allure-history:/usr/workspace/tests/allure-results/history
      - ./tests/allure-report:/usr/workspace/tests/allure-report
    working_dir: /usr/workspace
    command: >
      sh -c "allure generate tests/allure-results --clean -o tests/allure-report"

volumes:
  allure-results:
  allure-history:

networks:
  library-network:
    driver: bridge
