name: API Tests

on:
  workflow_dispatch:

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
      # Клонируем код
      - name: Checkout code
        uses: actions/checkout@v4
#        with:
#          ref: gh-pages
#          path: ./.github/gh-pages

      # Проверяем версию Docker Compose
      - name: Docker Compose version
        run: docker compose version

      #  Создаём папку для Allure истории (если ещё нет)
      - name: Prepare Allure history
        run: |
          mkdir -p tests/allure-results/history
          if [ -d ./.github/gh-pages/history ]; then
            cp -R ./.github/gh-pages/history/* tests/allure-results/history/
          fi
       # чекаут gh-pages отдельно
      - name: Checkout gh-pages history
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages

         #  копируем историю ИЗ gh-pages
      - name: Copy Allure history from gh-pages
        run: |
            if [ -d gh-pages/history ]; then
              cp -R gh-pages/history/* tests/allure-results/history/
            else
              echo "No history yet"
            fi   

      #  Поднимаем API сервис
      - name: Start API service
        run: docker compose up -d api

      #  Запускаем тесты
      - name: Run API tests
        run: docker compose run --rm tests

      #  Генерируем Allure HTML-отчёт
      - name: Generate Allure report
        run: docker compose run --rm tests allure generate tests/allure-results --clean -o tests/allure-report


      #  Сохраняем новую историю для следующего прогона
      - name: Update Allure history
        run: |         
          mkdir -p ./.github/gh-pages/history 
          cp -R tests/allure-report/history/* ./.github/gh-pages/history/ || echo "No history to copy"

      #  Деплой отчёта на GitHub Pages
      - name: Deploy Allure report
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          token: ${{ secrets.CI_TOKEN }}
          branch: gh-pages
          folder: tests/allure-report
          clean: false

      # ⃣ Останавливаем API
      - name: Stop API service
        run: docker compose down
